:root {
  --blue-muted: #92a8d1;
  --blue-strong: #034f84;
  --pink-muted: #f7cac9;
  --pink-strong: #f7786b;
}
.home-bg {
  /*background-image: url("/assets/images/bg-4.jpg");*/
  background-repeat: repeat;
  background-color: slategrey;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;
  margin: 0px;
}

.rotated {
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background-color: black;
  padding: 0px;
  margin: 0px;
  transform: rotate(20deg);
  /*mix-blend-mode: multiply;*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
}

.color-grid {
  background-color: #252422;
  height: 100%;
  margin: auto;
  padding: 0px;
  width: 100%;
}

.main-title {
  font-family: 'Lato';
  font-size: 60px;
  text-align: center;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}

.profpic {
  border-radius: 50%;
  margin: auto;
  height: 128px;
  width: 128px;
  overflow: hidden;
  position: relative;
  margin-top: 0px;
  border: 1px solid white;
  mix-blend-mode: normal;
}

.profpic img {
  max-width: 100%;
  max-height: 100%;
}

.link-box {
  z-index: 3;
  width: 60%;
  margin: auto;
  margin-top: 30px;
}

.link-box p {
  color: white;
  font-family: 'Lato';
  font-size: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  position: relative;
  z-index: 5;
  margin-bottom: 5px;
}

.link-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-row-gap: 30px;
  border: 2px dotted white;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(20, 20, 50, 0.8);
  mix-blend-mode: hard-light;
  height: 100%;
}

.link-icon {
  font-family: 'Lato';
  max-width: 100%;
  height: auto;
  margin: auto;
  color: white;
  text-align: center;
}

.link-icon a{
  font-family: 'Lato';
  max-width: 100%;
  height: auto;
  margin: auto;
  color: white;
  text-align: center;
  text-decoration: none;
}

.link-icon img {
  color: white;
  max-width: 60%;
  display: block;
  height: auto;
  margin: auto;
  position: relative;
  padding-bottom: 10px;
  mix-blend-mode: color-dodge;
}

.padding-wrap {
  display: block;
  width: 50%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
  position: relative;
  mix-blend-mode: hard-light;
  background-color: rgba(20, 20, 50, 0.8);
  border-radius: 10px;
  overflow-wrap: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}

.blurb {
  font-family: 'Open Sans';
  color: rgba(255, 255, 255, 0.8);
  display: block;
  text-align: center;
  margin: 10px;
}

.segment-header {
  color: white;
  font-family: 'Lato';
  font-size: 40px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  z-index: 5;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.bucket-list {
  border: 2px dotted white;
  border-radius: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgba(20, 20, 50, 0.8);
  mix-blend-mode: hard-light;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Open Sans';
}

.bucket-list ul {
  list-style-type: none;
  font-size: 18px;
}

.bucket-list-done {
  text-decoration: line-through;
  color: rgba(180, 180, 180, 0.8);
  color: var(--pink-strong);
}

.brain-graphic {
  color: white;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  height: auto;
  position: relative;
  z-index: 4;
  mix-blend-mode: lighten;
}

.social-bar {
  position: fixed;
  opacity: 0.8;
  top: 70px;
  height: 80%;
  width: 70px;
  mix-blend-mode: luminosity;
  z-index: 10;
  margin-left: -10px;
  border-radius: 0px 10px 10px 0px;
  border: 1px dashed white;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: rgba(20, 20, 20, 0.9);
}

.social-bar-grid {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  position: relative;
}

.social-bar-item {
  margin: auto;
}

.social-bar-item a{
  font-size: 40px;
  color: black;
}

.social-bar-item img {
  width: 70%;
  height: auto;
  position: relative;
  z-index: inherit;
  margin: auto;
  display:block;
}

.social-slider {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 50%;
  right: -39px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}


/* ---- Posts Formatting ---- */
.blog ul {
  list-style-type: none;
}

.blog{
  font-family: 'Lato';
}

.tag-icon{
  width: 70px;
  height: auto;
  transform: rotate(20deg);
  margin-right: 5px;
}

.tag-title {
  font-family: 'Lato';
  left: 50px;
  position: relative;
  opacity: 0.8;
  width: 90%;
}

.tag-blurb {
  font-family: 'Open Sans';
  color: rgba(20, 20, 50, 0.8);
  left: 100px;
  position: relative;
  width: 80%;
  background-color: rgba(20, 20, 50, 0.2);
  padding: 15px;
  border-radius: 15px;
}

.post-box {
  color:rgb(40, 40, 40);
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: multiply;
  font-family: 'Open Sans';
  font-size: 15px;
  border-bottom: 1px dotted rgb(200, 200, 200);
  padding-bottom: 10px;
}
.post-box h1 {
  color: #2a2b2e;
  margin-bottom: 2px;
}

.post-box blockquote {
  padding-left: 5px;
  border-left: 2px dashed rgb(150, 150, 150);
  font-style: italic;
  font-size: 18px;
}

.post-box a {
  text-decoration: none;
 font-weight: bold;
 font-size: 16px;
  color: rgb(100, 100, 120);
}

.post-box .tag-array {
  color: rgb(150, 150, 150);
  opacity: 0.7;
}

.post-box .tag-bubble {
  font-family: 'Lato';
  color: white;
  background-color: rgb(180, 180, 180);
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 4px;
  padding-top: 2px;
}

.post-box time {
  color: rgb(150, 150, 150);
}

.post-box img {
  display: block;
  border-radius: 10px;
  max-width: 70%;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* ---- Nav Header ---- */
.nav-header {
  width: 105%;
  background-color:#252422;
  color: whitesmoke;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  vertical-align: middle;
  line-height: 50px;
  z-index: 10;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px black;
}

.nav-element{
  font-family: 'Lato';
  font-size: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  position: relative;
  top: 0;
  bottom: 0;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  border-right: 1px solid black;
  color: whitesmoke;
  text-decoration: none;
}

.nav-element:hover {
  font-family: 'Lato';
  background-color: #2541b2;
}

.nav-element > * {
  margin-right: 7px;
}

.nav-element-dropdown .nav-element-dropdown-button {
  font-family: 'Lato';
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: transparent;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.nav-element-dropdown-button > * {
  margin-right: 7px;
}


.nav-element-dropdown-content {
  display: none;
  position: absolute;
  opacity: 0;
  background-color: #fdfffc;
  width: 70%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: hidden;
  border-radius: 0px 0px 10px 10px;
  -webkit-transition: 1.0s;
  -moz-transition: 1.0s;
  -o-transition: 1.0s;
  transition: 1.0s;
}

/* Links inside the dropdown */
.nav-element-dropdown-content a {
  float: none;
  color: #252422;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #fdfffc;
  height: 30px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  line-height: 30px;
  font-size: 16px;
}

.nav-element-dropdown-content a:hover {
  background-color: rgb(255, 144, 70);
}

/* Links inside the dropdown */
.nav-element-dropdown-content a img{
  height: 40px;
  width: auto;
}

/* Show the dropdown menu on hover */
.nav-element-dropdown:hover .nav-element-dropdown-content {
  display: block;
  opacity: 1.0;
}

.nav-element-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 300px;
  padding-top: 5px;
}

.nav-element-grid a{
  border-radius: 15px;
}

.nav-header-mobile {
  display: none;
}

.nav-mobile-dropdown-content {
  background-color: #252422;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  float: left;
  width: 55px;
  height: 308px;
  display: none;
  flex-direction: column;
}

.nav-mobile-item {
  border-bottom: 1px solid grey;
  color: whitesmoke;
  text-decoration: none;
  font-family: 'Lato';
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-mobile-item a{
  color: whitesmoke;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-mobile-grid {
  width: 308px;
  position: absolute;
  z-index: 10;
  background-color: #252422;
  display: none;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  height: 170px;
  justify-content: space-around;
  border-radius: 0px 0px 10px 10px;
  right: 75px;
}

.nav-mobile-grid a{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  display: block;
  padding-top: 20px;
  margin-bottom: 20px;
}

.nav-mobile-grid img{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 70%;
  height: auto;
}

.nav-mobile-drop {
  width: 308px;
  position: absolute;
  z-index: 10;
  background-color: #252422;
  display: none;
  border-radius: 0px 0px 10px 10px;
  right: 75px;
  height: auto;
}

.nav-mobile-drop a{
  font-family: 'Lato';
  width: 100%;
  display: block;
  text-decoration: none;
  color: whitesmoke;
  font-size: 25px;
  height: 55px;
  line-height: 48px;
  text-align: center;
  border-bottom: 1px solid grey;
}

.ender {
  color: darkgray;
  font-family: 'Lato';
  text-align: center;
  margin: auto;
  width: 80%;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}

.ender img {
  width: 50px;
  opacity: 0.5;
  margin-bottom: 10px;
}

/* ------~~~~~~~~~~ MOBILE TIME ~~~~~~~~-------- */
/*------ TABLET ----- */
@media only screen and (max-width: 830px) {
  .nav-element {
    font-size: 16px;
  }
  .nav-element-dropdown .nav-element-dropdown-button {
    font-size: 16px;
  }
}
/* ----- iPhone ----- */
@media only screen and (max-width: 600px) {
  /* --- Nav Header stuff --- */
  .nav-header {
    display: none;
  }
  .nav-header-mobile {
    display: block;
    position: fixed;
    z-index: 10;
    width: 100%;
  }

  .nav-mobile-hamburger{ 
    background-color: whitesmoke;
    border-radius: 15px;
    width: 55px;
    height: 55px;
    float: right;
    margin-right: 15px;
    color: #252422;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  /* Rotated Background */
 
  .social-bar {
    display: none;
  }

  /*Main Title*/
  .main-title {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .profpic {
    height: 90px;
    width: 90px;
  }
  
  /*Blurb*/
  .padding-wrap {
    width: 100%;
    background-color: transparent;
  }

  .blurb {
    text-align: left;
    background-color: transparent;
  }

  /*Post Filters*/
  .link-box {
    width: 100%;
    margin-top: 15px;
  }

  .link-box p{
    font-size: 17px;
  }

  .link-grid {
    background-color: rgba(20, 20, 50, 0.8);
    border-style: none;
    grid-template-columns: 33% 33% 33%;
  }

  /*Bucket List*/
  .segment-header {
    font-size: 30px;
  }
  .bucket-list {
    width: 100%;
    background-color: rgba(20, 20, 50, 0.8);
  }

  .brain-graphic {
    width: 100%;
  }

  /*Posts*/
  .post-box {
    width: 100%;
    margin-left: -20px;
    margin-right: 0;
  }

  .post-box p {
    font-size: 17px;
  }

  .tag-blurb {
    width: 90%;
    left: 0;
    padding: 10px;
    background-color: whitesmoke;
  }

  .tag-title {
    font-size: 30px;
    left: 0px;
    text-align: center;
  }

  .tag-icon {
    width: 60px;
    display: block;
    margin: auto;
    margin-bottom: 8px;
  }
}