:root {
  --blue-muted: #92a8d1;
  --blue-strong: #034f84;
  --pink-muted: #f7cac9;
  --pink-strong: #f7786b;
}
body {
  /*background-image: url("/assets/images/bg-4.jpg");*/
  background-repeat: repeat;
  background-color: slategrey;
  transition: background-color 0.5s ease;
}
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;
  margin: 0px;
}

.rotated {
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 300%;
  height: 200%;
  top: 100px;
  background-color: black;
  padding: 0px;
  margin: 0px;
  transform: rotate(20deg);
  /*mix-blend-mode: multiply;*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
}

.color-grid {
  background-color: tomato;
  height: 100%;
  margin: auto;
  padding: 0px;
  width: 100%;
}

.color-grid-special {
  background-color: tomato;
  height: 100%;
  margin: auto;
  padding: 0px;
  width: 100%;
}

.main-title {
  font-family: 'Lato';
  font-size: 60px;
  text-align: center;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}

.profpic {
  border-radius: 50%;
  margin: auto;
  height: 128px;
  width: 128px;
  overflow: hidden;
  position: relative;
  margin-top: 0px;
  border: 1px solid white;
  mix-blend-mode: normal;
}

.profpic img {
  max-width: 100%;
  max-height: 100%;
}

.link-box {
  z-index: 3;
  width: 60%;
  margin: auto;
  margin-top: 30px;
}

.link-box p {
  color: white;
  font-family: 'Lato';
  font-size: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  position: relative;
  z-index: 5;
  margin-bottom: 5px;
}

.link-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-row-gap: 30px;
  border: 2px dotted white;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(20, 20, 50, 0.8);
  mix-blend-mode: hard-light;
  height: 100%;
}

.link-icon {
  font-family: 'Lato';
  max-width: 100%;
  height: auto;
  margin: auto;
  color: white;
  text-align: center;
}

.link-icon a{
  font-family: 'Lato';
  max-width: 100%;
  height: auto;
  margin: auto;
  color: white;
  text-align: center;
  text-decoration: none;
}

.link-icon img {
  color: white;
  max-width: 60%;
  display: block;
  height: auto;
  margin: auto;
  position: relative;
  padding-bottom: 10px;
  mix-blend-mode: color-dodge;
}

.blurb {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans';
  color: rgba(255, 255, 255, 0.8);
  display: block;
  width: 50%;
  text-align: center;
  z-index: 5;
  position: relative;
  background-color: rgba(20, 20, 50, 0.8);
  padding: 10px;
  border-radius: 10px;
  mix-blend-mode: hard-light;
}

.segment-header {
  color: white;
  font-family: 'Lato';
  font-size: 40px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  z-index: 5;
}

.bucket-list {
  border: 2px dotted white;
  border-radius: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgba(20, 20, 50, 0.8);
  mix-blend-mode: hard-light;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Open Sans';
}

.bucket-list ul {
  list-style-type: none;
  font-size: 18px;
}

.bucket-list-done {
  text-decoration: line-through;
  color: rgba(180, 180, 180, 0.8);
  color: var(--pink-strong);
}

.brain-graphic {
  color: white;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  height: auto;
  position: relative;
  z-index: 4;
  mix-blend-mode: lighten;
}

.social-bar {
  position: fixed;
  opacity: 0.6;
  top: 0%;
  height: 45%;
  width: 5%;
  column-width: 20px;
  column-gap: 20px;
  mix-blend-mode: darken;
}

.social-bar-item a{
  font-size: 40px;
  color: black;
}

.social-bar-item img {
  width: 40px;
  height: auto;
}

/* ---- Posts Formatting ---- */
.blog ul {
  list-style-type: none;
}

.blog{
  font-family: 'Lato';
}

.tag-icon{
  width: 70px;
  height: auto;
  transform: rotate(20deg);
  margin-right: 5px;
}

.tag-title {
  font-family: 'Lato';
  left: 50px;
  position: relative;
  opacity: 0.8;
}

.tag-blurb {
  font-family: 'Open Sans';
  color: rgba(20, 20, 50, 0.8);
  left: 100px;
  position: relative;
  width: 80%;
  background-color: rgba(20, 20, 50, 0.2);
  padding: 15px;
  border-radius: 15px;
}

.post-box {
  color: rgb(100, 100, 120);
  border-radius: 15px;
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: multiply;
  font-family: 'Open Sans'
}
.post-box h1 {
  color: #2a2b2e;
}